<!DOCTYPE html>
<html lang="en" class="runstrong">

<head>
    <meta charset="UTF-8" />
    <title>RUNSTRONG | Performance Hub</title>
    <link rel="stylesheet" href="{{ url_for('run_strong.static', filename='css/styles.css') }}">
</head>

<body class="runstrong">

    <div class="runstrong-navbar">
        <a href="{{ url_for('run_strong.runstrong') }}">Home</a>
        <a href="{{ url_for('run_strong.exercise_library') }}">Exercise Library</a>
        <a href="{{ url_for('run_strong.journal') }}">Workout Journal</a>
        <a href="{{ url_for('run_strong.fatigue_dashboard') }}">Fatigue Dashboard</a>
        <a href="{{ url_for('run_strong.goals') }}">Goals Dashboard</a>
        <a href="{{ url_for('run_strong.max_weights') }}">Max Weights</a>
    </div>

    <div class="runstrong-header">
        <a href="{{ url_for('running_hub.home') }}">
            <img src="{{ url_for('run_strong.static', filename='images/RUN_STRONG_logo_transparent.png') }}"
                alt="RunStrong Logo" class="runstrong-logo" />
        </a>
    </div>

    <div class="runstrong-container">

        <div class="runstrong-button-grid">

            <a href="{{ url_for('run_strong.exercise_library') }}">
                <button>Exercise Library</button>
            </a>
            <a href="{{ url_for('run_strong.journal') }}">
                <button>Workout Journal</button>
            </a>
            <a href="{{ url_for('run_strong.fatigue_dashboard') }}">
                <button>Fatigue Dashboard</button>
            </a>
            <a href="{{ url_for('run_strong.goals') }}">
                <button>Goals Dashboard</button>
            </a>
        </div>
    </div>

    <div style="padding: 2%;">
        <video controls autoplay muted style="display: block; margin: auto; width: 25%; padding: 2%;">
            <source src="{{ url_for('run_strong.static', filename='videos/coach_g_drops_bricks.mp4') }}"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</body>

</html>