{% extends "runstrong_base.html" %}

{% block title %}Workout Journal | RUNSTRONG{% endblock %}


{% block content %}

<div class="runstrong-header">
    <a href="{{ url_for('running_hub.home') }}">
        <img src="{{ url_for('run_strong.static', filename='images/RUN_STRONG_logo_transparent.png') }}"
            alt="RunStrong Logo" class="runstrong-logo" />
    </a>
</div>

<div class="runstrong-container">

    <div class="runstrong-button-grid">

        <a href="{{ url_for('run_strong.exercise_library') }}">
            <button>Exercise Library</button>
        </a>
        <a href="{{ url_for('run_strong.journal') }}">
            <button>Workout Journal</button>
        </a>
        <a href="{{ url_for('run_strong.fatigue_dashboard') }}">
            <button>Fatigue Dashboard</button>
        </a>
        <a href="{{ url_for('run_strong.goals') }}">
            <button>Goals Dashboard</button>
        </a>
        <a href="{{ url_for('run_strong.max_weights') }}">
            <button>Max Weights</button>
        </a>
        <a href="{{ url_for('run_strong.movement_catalog') }}">
            <button>Movement Catalog</button>
        </a>
    </div>
</div>

<div class="video-container">
    <!-- <video controls autoplay muted style="display: block; margin: auto; width: 25%; padding: 2%;"> -->
    <video controls autoplay muted class="responsive-video">
        <source src="{{ url_for('run_strong.static', filename='videos/coach_g_drops_bricks.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
{% endblock %}
</body>

</html>