{% extends "runninghub_base.html" %}

{% block title %}RunningHub | Track Your Progress{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="btn-container">
  <a href="{{ url_for('running_hub.activity', id=activity) }}" class="btn"><i class="fas fa-running"></i> Latest Activity</a>
  <a href="{{ url_for('running_hub.statistics') }}" class="btn"><i class="fas fa-chart-line"></i> Statistics</a>
  <a href="{{ url_for('running_hub.trophy_room') }}" class="btn btn-accent"><i class="fas fa-trophy"></i> Trophy Room</a>
  <a href="{{ url_for('dashboard_redirect') }}" class="btn btn-accent"><i class="fas fa-chart-line"></i> Dashboard</a>
  <a href="{{ url_for('running_hub.motivation') }}" class="btn"><i class="fas fa-battery-full"></i> Motivation</a>
  <a href="{{ url_for('running_hub.skill_tree') }}" class="btn"><i class="fas fa-gamepad"></i> Skill Tree</a>
  <a href="{{ url_for('running_hub.calendar') }}" class="btn"><i class="fa fa-calendar"></i> Calendar</a>
</div>

<div class="image-container">
  <a href="{{ url_for('runner_vision.runnervision') }}">
    <img src="{{ url_for('running_hub.static', filename='/images/RunnerVisionLogo_v3.png') }}" alt="RunnerVision Logo" id="runner_vision_img">
  </a>
  <a href="{{ url_for('coach_g.coach_g') }}">
    <img src="{{ url_for('running_hub.static', filename='/images/stacking_bricks.png') }}" alt="Coach G Logo" id="coach-g-img">
  </a>
  <a href="{{ url_for('run_strong.runstrong') }}">
    <img src="{{ url_for('running_hub.static', filename='/images/RUN_STRONG_full_image.png') }}" alt="RunnerSTRONG Logo" id="run_strong_img">
  </a>
</div>

<div class="heatmap-container-home">
  <iframe src="{{ url_for('density_redirect') }}?start_date=2024-01-01" width="100%" height="100%" style="border:none;"></iframe>
</div>
{% endblock %}
