<!DOCTYPE html>
<html lang="en" class="runstrong">

<head>
    <meta charset="UTF-8" />
    <title>RUNSTRONG | Performance Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="runstrong">

    <div class="runstrong-navbar">
        <a href="{{ url_for('runstrong') }}">Home</a>
        <a href="{{ url_for('exercise_library') }}">Library</a>
        <a href="{{ url_for('planner') }}">Routines</a>
        <a href="{{ url_for('add_exercise') }}">Add</a>
        <a href="{{ url_for('journal') }}">Journal</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
    </div>

    <div class="runnervision-header">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/RUN_STRONG_logo_transparent.png') }}" alt="RunStrong Logo"
                class="runstrong-logo" />
        </a>
    </div>

    <div class="runstrong-container">

        <div class="runstrong-button-grid">

            <a href="{{ url_for('exercise_library') }}">
                <button>Exercise Library</button>
            </a>

            <a href="{{ url_for('planner') }}">
                <button>Routines</button>
            </a>
            <a href="{{ url_for('add_exercise') }}">
                <button>Add Exercise</button>
            </a>
            <a href="{{ url_for('journal') }}">
                <button>Workout Journal</button>
            </a>
            <a href="{{ url_for('dashboard') }}">
                <button>Progress Dashboard</button>
            </a>
        </div>
    </div>

    <div style="padding: 2%;">
        <video controls autoplay muted style="display: block; margin: auto; width: 25%; padding: 2%;">
            <source src="{{ url_for('static', filename='videos/coach_g_drops_bricks.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</body>

</html>